body {
  margin: 0px;
}

main {
  display: block;
}

@font-face {
  font-family: 'aganregular';
  src: url("../font/agane_55_roman-webfont.eot");
  src: url("../font/agane_55_roman-webfont.eot?#iefix") format("embedded-opentype"), url("../font/agane_55_roman-webfont.woff2") format("woff2"), url("../font/agane_55_roman-webfont.woff") format("woff"), url("../font/agane_55_roman-webfont.ttf") format("truetype"), url("../font/agane_55_roman-webfont.svg#aganregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aganextra_bold';
  src: url("../font/agane_75_extra_bold-webfont.eot");
  src: url("../font/agane_75_extra_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/agane_75_extra_bold-webfont.woff2") format("woff2"), url("../font/agane_75_extra_bold-webfont.woff") format("woff"), url("../font/agane_75_extra_bold-webfont.ttf") format("truetype"), url("../font/agane_75_extra_bold-webfont.svg#aganextra_bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Devonshire';
  src: url("../font/Devonshire-Regular.eot");
  src: url("../font/Devonshire-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Devonshire-Regular.woff2") format("woff2"), url("../font/Devonshire-Regular.woff") format("woff"), url("../font/Devonshire-Regular.ttf") format("truetype"), url("../font/Devonshire-Regular.svg#Devonshire-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Itim';
  src: url("Itim-Regular.eot");
  src: url("../font/Itim-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Itim-Regular.woff2") format("woff2"), url("../font/Itim-Regular.woff") format("woff"), url("../font/Itim-Regular.ttf") format("truetype"), url("../font/Itim-Regular.svg#Itim-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Croissant One';
  src: url("../font/CroissantOne-Regular.eot");
  src: url("../_mixin.scss") format("embedded-opentype"), url("../font/CroissantOne-Regular.woff2") format("woff2"), url("../font/CroissantOne-Regular.woff") format("woff"), url("../font/CroissantOne-Regular.ttf") format("truetype"), url("../font/CroissantOne-Regular.svg#CroissantOne-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nanum Pen';
  src: url("../font/NanumPen.eot");
  src: url("../font/NanumPen.eot?#iefix") format("embedded-opentype"), url("../font/NanumPen.woff2") format("woff2"), url("../font/NanumPen.woff") format("woff"), url("../font/NanumPen.ttf") format("truetype"), url("../font/NanumPen.svg#NanumPen") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../font/DancingScript.eot");
  src: url("../font/DancingScript.eot?#iefix") format("embedded-opentype"), url("../font/DancingScript.woff2") format("woff2"), url("../font/DancingScript.woff") format("woff"), url("../font/DancingScript.ttf") format("truetype"), url("../font/DancingScript.svg#DancingScript") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaushan Script';
  src: url("../font/KaushanScript-Regular.eot");
  src: url("../font/KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("../font/KaushanScript-Regular.woff2") format("woff2"), url("../font/KaushanScript-Regular.woff") format("woff"), url("../font/KaushanScript-Regular.ttf") format("truetype"), url("../font/KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../font/PTSerif-Regular.eot");
  src: url("../font/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../font/PTSerif-Regular.woff2") format("woff2"), url("../font/PTSerif-Regular.woff") format("woff"), url("../font/PTSerif-Regular.ttf") format("truetype"), url("../font/PTSerif-Regular.svg#PTSerif-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

header {
  background-color: #59a695;
  height: 9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 > a {
  color: #fdcb46;
  font-size: 2em;
  font-family: 'aganextra_bold', Arial, serif;
  text-decoration: none;
  letter-spacing: -3px;
}

/* ------------------------------ Responsive --------------------------- */
@media screen and (max-width: 670px) {
  header {
    height: 7em;
  }
  h1 > a {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 410px) {
  header {
    height: 6em;
  }
  h1 > a {
    font-size: 1.1em;
  }
}

.footer {
  background-color: #59a695;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  position: fixed;
  height: 5em;
}

.footer > a {
  color: #fdcb46;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 2em;
  font-family: 'aganregular', Arial, serif;
}

.footer > a:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* ------------------------------ Responsive --------------------------- */
@media screen and (max-width: 768px) {
  .footer > a {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 670px) {
  .footer {
    height: 4em;
  }
  .footer > a {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 410px) {
  .footer {
    height: 3em;
  }
  .footer > a {
    font-size: 0.9em;
  }
}

.basecarte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h2 {
  text-align: center;
}

.cardtitle h2 {
  font-size: 3em;
  margin-top: 1.5em;
  font-family: 'aganextra_bold', Arial, serif;
}

.carte {
  display: block;
  margin: 1.5em;
  padding: 5em;
  margin-bottom: 10em;
  -webkit-filter: drop-shadow(0 0 0.6em gainsboro);
          filter: drop-shadow(0 0 0.6em gainsboro);
}

.carte h2 {
  font-size: 3em;
}

h4 {
  font-family: 'Itim', cursive;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  text-align: center;
}

h4 > img {
  width: 30%;
  height: 1em;
}

.separator {
  padding-right: 5px;
}

.separator-reverse {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-right: 5px;
}

.carte i {
  text-align: center;
  margin-right: 10px;
}

table {
  width: 100%;
  font-size: 1.5em;
  padding-bottom: 2em;
  font-family: 'Itim', cursive;
  font-style: italic;
}

td {
  padding-top: 0.9em;
}

td:last-child {
  padding-left: 3px;
}

/* ---------------------------------- Animations ----------------------------------- */
.inter {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.inter:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #0f0f0f;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
}

.inter:hover:before {
  width: 100%;
  visibility: visible;
}

/* ---------------------------------- Responsive ----------------------------------- */
@media screen and (max-width: 768px) {
  table {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 670px) {
  .cardtitle h2 {
    font-size: 1.3em;
  }
  .carte {
    padding: 1em;
  }
  .carte h2 {
    font-size: 2.5em;
  }
  .endtitle {
    font-size: 2em;
  }
}

@media screen and (max-width: 410px) {
  .cardtitle h2 {
    margin-top: 1em;
  }
  .carte h2 {
    font-size: 2em;
  }
  .carte h4 {
    font-size: 1em;
  }
  .endtitle {
    font-size: 1.8em;
  }
  table {
    font-size: 0.9em;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 3em;
  padding-right: 3em;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-row > :first-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-row > :last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sooncontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soon {
  background-color: #59a695;
  padding: 0.5em 1em 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: auto;
  padding: 1em;
  border-radius: 15px;
  margin-top: 3em;
  margin-bottom: 8em;
}

.soon > a {
  color: #fdcb46;
  text-decoration: none;
  font-size: 2em;
  font-family: 'aganregular', Arial, serif;
}

.soon span {
  color: #fdcb46;
  font-size: 2em;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.soon span:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.soon span:nth-child(4) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

/* ---------------------------------- Responsive ----------------------------------- */
@media screen and (max-width: 670px) {
  .soon span {
    font-size: 1.3em;
  }
  .soon {
    margin-bottom: 6em;
  }
  .soon > a {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 410px) {
  .soon span {
    font-size: 1em;
  }
  .soon {
    margin-bottom: 5em;
  }
  .soon > a {
    font-size: 0.9em;
  }
}

.menu {
  height: 30em;
  width: 20em;
  margin: 3em;
  margin-top: 5em;
  padding: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0 0 0.6em gainsboro);
          filter: drop-shadow(0 0 0.6em gainsboro);
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2.5em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

/* ---------------------------------- Animations ----------------------------------- */
.menu:hover {
  opacity: 0.5;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.menu:hover > a {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* ---------------------------------- Menu Note ----------------------------------- */
.note {
  background-color: #fadedb;
}

i {
  background: -webkit-gradient(linear, left top, right top, from(#f35757), to(#f78f6a));
  background: linear-gradient(to right, #f35757, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note h2 {
  font-family: 'Devonshire', cursive;
  letter-spacing: 1px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-weight: 100;
}

.note h3 {
  font-family: 'Itim';
  font-style: italic;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 200;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

h3 > a:link {
  text-decoration: none;
}

/* ---------------------------------- Menu Chic ----------------------------------- */
.chic {
  background-color: #fff0f9;
}

.chic h2 {
  background: -webkit-gradient(linear, left top, right top, from(#f18154), to(#af54c2));
  background: linear-gradient(to right, #f18154, #af54c2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Croissant One';
  font-weight: 100;
}

.chic h3 {
  color: #d17d5b;
}

/* ---------------------------------- Menu Delice ----------------------------------- */
.delice {
  background-color: whitesmoke;
}

.delice h2 {
  background: -webkit-gradient(linear, left top, right top, from(blue), to(#15b5c0));
  background: linear-gradient(to right, blue, #15b5c0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Dancing Script';
  font-style: italic;
  font-weight: 100;
  padding-left: 2px;
}

.delice h3 {
  color: #4e82f1;
  font-family: 'Nanum Pen';
  font-style: italic;
  font-weight: 100;
}

/* ---------------------------------- Menu Palette ----------------------------------- */
.palette {
  background-color: #fff;
}

.palette h2 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(4, 95, 4, 0.733)), to(#c0f75b));
  background: linear-gradient(to right, rgba(4, 95, 4, 0.733), #c0f75b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kaushan Script';
  font-style: italic;
  padding-right: 7px;
}

.palette h3 {
  color: #6db46d;
  font-family: 'Nanum Pen';
  font-style: italic;
  font-weight: 100;
}

/* -------------------------------- Responsive -------------------------------- */
@media screen and (max-width: 1100px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    width: 30em;
    height: 45em;
  }
}

@media screen and (max-width: 768px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-row > :first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-row > :last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu {
    width: 20em;
    height: 30em;
  }
}

@media screen and (max-width: 670px) {
  .menu {
    width: 12em;
    height: 18em;
    margin: 0;
    margin-top: 4em;
  }
}

@media screen and (max-width: 410px) {
  .menu {
    width: 10em;
    height: 15em;
    margin: 0;
    margin-top: 4em;
  }
}

.note > h4 {
  text-transform: none;
  margin-bottom: 0px;
  font-size: 2em;
}

.endtitle {
  text-align: center;
  font-size: 2.4em;
  font-family: 'Devonshire', cursive;
  font-weight: 100;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

/* ---------------------------------- Responsive ----------------------------------- */
@media screen and (max-width: 670px) {
  .note h4 {
    font-size: 1.5em;
  }
}

.carte.chic > h2 {
  padding-bottom: 1em;
}

.carte.chic > table {
  font-family: 'PT Serif', serif;
  font-style: normal;
}

.chic > h4 {
  letter-spacing: 0.1px;
  font-family: 'PT Serif', serif;
  font-style: normal;
  padding-top: 1em;
}

.chicfrt {
  color: #c67412;
}

.inter.chicfrt:before {
  background-color: #c67412;
  -webkit-box-shadow: 0 0 2px #c67412;
          box-shadow: 0 0 2px #c67412;
}

.chicsnd {
  color: #a56799;
}

.inter.chicsnd:before {
  background-color: #a56799;
  -webkit-box-shadow: 0 0 2px #a56799;
          box-shadow: 0 0 2px #a56799;
}

.chicthd {
  color: #6e4ccc;
}

.inter.chicthd:before {
  background-color: #6e4ccc;
  -webkit-box-shadow: 0 0 2px #6e4ccc;
          box-shadow: 0 0 2px #6e4ccc;
}

/* ---------------------------------- Responsive ----------------------------------- */
@media screen and (max-width: 670px) {
  .chic h4 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 410px) {
  .carte.chic h2 {
    font-size: 2em;
  }
}

.separator-reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.carte.delice > h2 {
  font-size: 4.5em;
}

.delice h4 {
  font-weight: 200;
  font-style: normal;
  font-family: cursive;
}

.prix {
  text-align: right;
}

/* ---------------------------------- Responsive ----------------------------------- */
@media screen and (max-width: 670px) {
  .carte.delice h2 {
    font-size: 2.5em;
  }
  .delice h4 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 410px) {
  .carte.delice h2 {
    font-size: 2em;
  }
}

.palette > h4 {
  font-weight: 100;
  font-style: normal;
}

.carte.palette > table {
  font-style: normal;
}

/* ---------------------------------- Responsive ----------------------------------- */
@media screen and (max-width: 670px) {
  .palette h4 {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=main.css.map */