.basecarte {
    display: flex;
    flex-direction: column;
    align-items: center;
}


main h2 {
    text-align: center;
}

.cardtitle h2 {
    font-size: 3em;
    margin-top: 1.5em;
    font-family: 'aganextra_bold', Arial, serif;
}
.carte {
    display: block;
    margin: 1.5em;
    padding: 5em;
    margin-bottom: 10em;
    @include shadow;
}
.carte h2 {
    font-size: 3em;
}

h4 {
    font-family: 'Itim', cursive;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
}
h4 > img {
    width: 30%;
    height: 1em;
}

.separator {
    padding-right: 5px;
}
.separator-reverse {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    padding-right: 5px;
}

.carte i {
    text-align: center;
    margin-right: 10px;
}

table {
    width: 100%;
    font-size: 1.5em;
    padding-bottom: 2em;
    font-family: 'Itim', cursive;
    font-style: italic;
}

td {
    padding-top: 0.9em;
}
td:last-child {
    padding-left: 3px;
}

/* ---------------------------------- Animations ----------------------------------- */
.inter {
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.inter:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(15, 15, 15);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 2px black;
  }

  .inter:hover:before { 
    width: 100%; 
    visibility: visible;
  }


/* ---------------------------------- Responsive ----------------------------------- */

@media screen and (max-width: 768px)
{
    table {font-size: 1.1em;}
}
@media screen and (max-width: 670px)
{
    .cardtitle h2 {font-size: 1.3em;}
    .carte {padding: 1em;}
    .carte h2 {font-size: 2.5em;}
    .endtitle {font-size: 2em;}
}
@media screen and (max-width: 410px)
{
    .cardtitle h2 {margin-top: 1em;}
    .carte h2 {font-size: 2em;}
    .carte h4 {font-size: 1em;}
    .endtitle {font-size: 1.8em;}
    table {font-size: 0.9em;}
}
