nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 3em;
    padding-right: 3em;
}
section {
    display: flex;
    flex-direction: row;
}
.menu-row > :first-child {
    justify-content: center;
}
.menu-row > :last-child {
    justify-content: center;
}