$color-prim: hsl(167, 30%, 50%);
$color-second: rgb(253, 203, 70);
$background-note: hsl(5, 75%, 92%);
$background-chic: hsl(325, 98%, 97%);
$background-delice: hsl(160, 0%, 96%);
$background-palette: #fff;